#wrapper {
    margin:auto;
    width:960px;
}

/* style topbar */
#topbar_ul {
    text-align: justify;
    margin: auto;
    padding: 10px;
    background: #FFE03F;
}

#topbar {
    display: inline;
    font-family: sans-serif; 
    font-weight: bold;
    color: #262626;
}

/*Make blog posts with thumbails at home page*/
#home_post {
	float: right;
	width: 70%;
}

#thumnail {
	float: left;
	width: 30%;
}

hr.style12 {
	  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}


#readmore_box {
	width:150px;
	padding-top:5px;
	border-style:solid;
	border-color:#FFE03F;
	border-width:1px;
	padding-left:10px;
	padding-bottom:5px;
	padding-right: 10px;
	border-radius: 25px;
	font-style: bold;
	font-family: rebuchet MS;
	color:#000000;
}

#login {
	border: 1px solid #AEAEAE;
	margin: 100px auto 0;
	padding: 0;
	width: 300px;
}

#adminmenu {
	padding-left: 0;
}

#adminmenu li {
	float: left;
	list-style: none;
	margin-right: 20px;
}

.wr {
 
}
.clear {
	clear: both;
}

.error {
	padding: 0.75em;
	margin: 0.75em;
	border: 1px solid #990000;
	max-width: 400px;
	color: #990000;
	background-color: #FDF0EB;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}

p,li {
	color: #555555;
	font-size: 16px;
	line-height: 1.5em;
}

a {
	color:#262626;
	text-decoration: none;
}

form input {
	border: 1px solid #999999;
	border-bottom-color: #cccccc;
	border-right-color: #cccccc;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	margin: 2px;
}

table {width:98%; text-align:left; border:1px solid #DDDDDD; font-size:12px; color:#000;background:#fff; margin-bottom:10px;}
table th {background-color:#E5E5E5; border:1px solid #BBBBBB; padding:3px 6px; font-weight:normal; color:#000;}
table tr td {border:1px solid #DDDDDD; padding:5px 6px;}
table tr.alt td {background-color:#E2E2E2;}
table tr:hover {background-color:#F0F0F0; color:#000;}
